<div>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div [ngClass]="'editRecipe'">
      <h1>Add your Recipe</h1>
      <form (ngSubmit)="onSubmit(RecipeForm)" #RecipeForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 name="name"
                 required ngModel
          >
        </div>
        <div class="form-group">
          <label for="time">Preparing Time</label>
          <input type="number" class="form-control" id="time"
                 name="time" ngModel required>
        </div>
        <div class="form-group">
          <label for="description">Description of meal</label>
          <input type="text" class="form-control" id="description"
                 name="description" ngModel required>
        </div>
        <div class="form-group">
          <label for="instruction">Recipe Instruction</label>
          <input type="text" class="form-control" id="instruction"
                 name="time" ngModel required>
        </div>
        <div class="form-group">
          <label for="image">Image of meal(url,not required)</label>
          <input type="text" class="form-control" id="image"
                 name="image" ngModel>
        </div>
        <div class="form-group" [id]="'ingredients'">
          <label>Ingredients</label>
          <label>Measures</label>
          <div *ngFor="let i = index; let ingredient of ingredients">
            <input type="text" class="form-control" name="ingredient[{{i}}]"
                    [(ngModel)]="ingredient.ingredient">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="ingredient.measure">
          </div>
        </div>
        <button type="button" (click)="addIngredient()">add ingredient</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
