<div>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div>
      <h1>Add your Recipe</h1>
      <form (ngSubmit)="onSubmit(RecipeForm)" #RecipeForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 name="name"
                 required ngModel
                 >
        </div>
        <div class="form-group">
          <label for="time">Preparing Time</label>
          <input type="number" class="form-control" id="time"
                 name="time" ngModel>
        </div>
        <div class="form-group">
          <label for="description">Description of meal</label>
          <input type="text" class="form-control" id="description"
                 name="description" ngModel required>
        </div>
        <div class="form-group">
          <label for="instruction">Recipe Instruction</label>
          <input type="text" class="form-control" id="instruction"
                 name="time" ngModel required>
        </div>
        <div class="form-group">
          <label for="image">Image of meal(url,not required)</label>
          <input type="text" class="form-control" id="image"
                 name="image" ngModel>
        </div>
        <div class="form-group" [id]="'ingredients'">
          <label>Ingredients</label>
          <label>Measures</label>
          <input type="text" class="form-control" id="ingredient1"
                 name="ingredient1" ngModel>
          <input type="text" class="form-control"
                 name="measures1" ngModel>
          <input type="text" class="form-control"
                 name="ingredients2" ngModel>
          <input type="text" class="form-control"
                 name="measures2" ngModel>
          <input type="text" class="form-control"
                 name="ingredients3" ngModel>
          <input type="text" class="form-control"
                 name="measures3" ngModel>
          <input type="text" class="form-control"
                 name="ingredients4" ngModel>
          <input type="text" class="form-control"
                 name="measures4" ngModel>
          <input type="text" class="form-control"
                 name="ingredients5" ngModel>
          <input type="text" class="form-control"
                 name="measures5" ngModel>
          <input type="text" class="form-control"
                 name="ingredients6" ngModel>
          <input type="text" class="form-control"
                 name="measures6" ngModel>
          <input type="text" class="form-control"
                 name="ingredients7" ngModel>
          <input type="text" class="form-control"
                 name="measures7" ngModel>
          <input type="text" class="form-control"
                 name="ingredients8" ngModel>
          <input type="text" class="form-control"
                 name="measures8" ngModel>
          <input type="text" class="form-control"
                 name="ingredients9" ngModel>
          <input type="text" class="form-control"
                 name="measures9" ngModel>
          <input type="text" class="form-control"
                 name="ingredients10" ngModel>
          <input type="text" class="form-control"
                 name="measures10" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    </div>
  </div>
