<div>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div [ngClass]="'editRecipe'">
      <h1>Add your Recipe</h1>
      <form (ngSubmit)="onSubmit(RecipeForm)" #RecipeForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 name="name"
                 required [(ngModel)]="name"
          >
        </div>
        <div class="form-group">
          <label for="time">Preparing Time</label>
          <input type="number" class="form-control" id="time"
                 name="time" [(ngModel)]="time" required>
        </div>
        <div class="form-group">
          <label for="description">Description of meal</label>
          <input type="text" class="form-control" id="description"
                 name="description" [(ngModel)]="description" required>
        </div>
        <div class="form-group">
          <label for="instruction">Recipe Instructions</label>
          <input type="text" class="form-control" id="instruction"
                 name="instruction" [(ngModel)]="instruction" required>
        </div>
        <div class="form-group">
          <label for="image">Image of meal(url,not required)</label>
          <input type="text" class="form-control" id="image"
                 name="image" [(ngModel)]="image">
        </div>
        <div class="form-group" [id]="'ingredients'">
          <label>Ingredients</label>
          <label>Measures</label>
          <div *ngFor="let ingredient of ingredients; let i = index">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="ingredient.ingredient">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="ingredient.measure">
            <button type="button" [ngClass]="'btn btn-danger'" [hidden]="disabled"
                    (click)="removeInputs(i)">Delete
            </button>
          </div>
        </div>
        <button type="button" (click)="addIngredient()" class="btn btn-primary">Add ingredient</button>
        <button type="submit" class="btn btn-success">Submit/Update</button>
      </form>
    </div>
  </div>
</div>
