@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container{
  width:75vw;
}
.editRecipe {
  > form {
    > button {
      margin-top: 3vh;
    }

    > button:nth-of-type(n+2) {
      float: right;
      margin-left:1.5vw;
    }
  }
}

#ingredients {
  > label {
    width: 30vw;
  }

  > label:last-of-type {
    float: right;
    text-align: right;
    margin-right: 16%;
  }

  > div {
    margin-bottom:0.5%;
    > input {
      width: 42%;
      display: inline-block;
    }

    > button {
      width: 65px;
      float: right;
    }
  }
}
[hidden] {
  display: none;
}
